* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    height: 100vh;
}

.item {
    height: 25%;
    border: solid 1px black;
}